<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Modulo de Pago</title>
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-md">
    <a class="navbar-brand" href="#">Modulo de Pago</a>
  </div>
</nav>
  
  
  <div class="card-body">
    <h5 class="card-title">Pago Tarjeta de Credito</h5>
    <p class="card-text">Realice los pagos de su tarjeta de credito</p>
    <a href="#" class="btn btn-primary">Pagar</a>
  </div>


  <div class="card-body">
    <h5 class="card-title">Pago de Prestamos</h5>
    <p class="card-text">Realice el pago de sus prestamos</p>
    <a href="#" class="btn btn-primary">Pagar</a>
  </div>










</body>
</html>