<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>MODULO CONSULTAS</title>
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MODULO CONSULTAS</a>
    </div>
  </nav>
</div>

  <div class="card-body">
    <h5 class="card-title">CONSUTA DE ESTADO DE CUENTA</h5>
    <p class="card-text">Consultar sobre Su estado de Cuenta</p>
    <a href="/Consultas" class="btn btn-primary">Consultar</a>
  </div>

<div class="card">


  <div class="card-body">
    <h5 class="card-title">CONSULTA DE SALDOS</h5>
    <p class="card-text">Consulte su saldo</p>
    <a href="#" class="btn btn-primary">Consultar</a>
  </div>
</div>
<div class="card">


  <div class="card-body">
    <h5 class="card-title">CONSULTA DE CHEQUES</h5>
    <p class="card-text">Lista de cheques emitidos y Cobrados</p>
    <a href="#" class="btn btn-primary">Consultar</a>
  </div>
</div>

  <div class="card-body">
    <h5 class="card-title">CONSULTAR TARJETAS DE CREDITO</h5>
    <p class="card-text">Consulte sus tarjetas asociadas</p>
    <a href="#" class="btn btn-primary">Consultar</a>
  </div>


</body>
</html>